<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>
        {% block head %}

        {% endblock %}

        {% if title %}
        <title>{{ title }}</title>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>

        <div class="content">
            {% block content %}

            {% endblock %}
        </div>

    </body>
</html>
