.steam_login_view {
    margin: 24px auto 24px auto;
    width: 50rem;
    height: 100%;
}

.steam_login_modal {
    display: flex;
    flex-flow: column;
    margin: 0px auto 0px auto;
    width: 25rem;
    height: 20rem;
    background-color: #34495e;
    padding: 24px;
}

.steam_login_image_container {
    flex: 0 0 auto;
}

.steam_login_form {
    flex: 1 1 auto;
    width: 65%;
    margin: 12px auto 12px auto;
    padding-top: 24px;
}

.steam_login_form label {
    display: table-caption;
    font-variant: small-caps;
    color: #ecf0f1;
}

.steam_login_form input {
    display: table-cell;
    margin: 0px;
    padding: 0px 12px 0px 12px;
    border: 0px;

    height: 48px;
    width: 100%;
    box-sizing: border-box;

    vertical-align: bottom;
    border-radius: 0px 3px 3px 0px;
}

.steam_login_icon {
    display: table-cell;
    color: #ecf0f1;
    background-color: #bdc3c7;

    text-align: center;
    vertical-align: middle;

    font-size: 20px;
    width: 48px;
    height: 48px;
    min-width: 48px;

    border-radius: 3px 0px 0px 3px;
}

.steam_login_icon>span {
    display: initial;
    vertical-align: middle;

    width: 100%;
    height: 100%;
}

.steam_login_input_container {
    display: table;
    width: 100%;
    margin-bottom: 12px;
}

.steam_login_form button {
    font-size: 18px;
    font-variant: small-caps;
    background-color: transparent;
    border: 2px solid #ecf0f1;
    border-radius: 3px;
    color: #ecf0f1;
    padding: 12px;
    margin: 12px 0px;
    width: 100%;
}

h3, h4 {
    color: #ecf0f1;
    margin-bottom: 12px;
}
